$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

 

/* Space out content a bit */
body {
   
      background: #f7f4ef;
    color: #fff;
    font-size: 14px;
    font-family: "Open Sans",Helvetica,Arial,sans-serif;
     
     min-width: 410px;
}
.bigt{
  color: #fff;
    font-size: 60px;
    font-weight: 200;
}
.medt{
    color: #fff;
    font-size: 48px;
    font-weight: 200;
}
section{
    padding: 50px 0px;
     &.firsts{
      background-color: #4B729A;
     }
     &.seconds{
      background-color: #1D1D1D;
     }
     &.thirds{
      background-color:#585858;
     
        .mapsinfo{
           margin: 10px 0px;
           padding: 5px;
        }
     }


}



 .container{background: rgba(255,255,255,0.6);
    padding: 40px;}

 .portraitsquare{ width: 120px;
  margin: 0px auto;}
 
.portraitimg{
    width: 90px;
    height: 90px;
    position: absolute;
    margin-top: -108px;
    margin-left: 16px;
    transform: scale(1.2);
}

.btn{ 
  text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 3px 0;
    padding: 6px 20px;
    font-size: 15px;
    line-height: 20px;
    height: 34px;
     
    color: #ffffff;
    border: 1px solid #384349;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.2);
    border-radius: 2px;
      
    border-radius: 3px;
    border: 1px solid #0e98d8;
    box-shadow: 0 1px 7px #888;
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.4);
    color: #fff;
    height: auto;
    line-height: 1.9;
    min-width: 150px;
    display: inline-block;
    padding: 6px 40px;
    float: none;
    font-weight: lighter;
    transition: background linear 0.6s;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
 -webkit-transition:   box-shadow 0.2s, background-color 0.2s, border-color 0.2s, color 0.2s;
    transition:   box-shadow 0.2s, background-color 0.2s, border-color 0.2s, color 0.2s;
  &.blue{

     
    background-color: #535f66;
    color: #ffffff;
    border: 1px solid #384349; 
     background: linear-gradient(to bottom, #0e98d8, #268ab8);
    border-radius: 3px;
    border: 1px solid #0e98d8;
     
    color: #fff;
     
    }
    &.red{ 
    background: linear-gradient(to bottom, #e90707, #cd0606);
    border: 1px solid #e90707; 
     border-radius: 3px;
     color: #fff;
    }
  &.red:hover{
    background: linear-gradient(to bottom, #ff1b1b, #e90707);
    box-shadow: 0 1px 20px #888;
    box-shadow: 0 1px 20px rgba(0, 0, 0, 0.4);
    color: white;
    padding: 6px 40px;
      -webkit-transition:   box-shadow 0.2s, background-color 0.2s, border-color 0.2s, color 0.2s;
    transition:   box-shadow 0.2s, background-color 0.2s, border-color 0.2s, color 0.2s;
  }
  &.blue:hover{
         background: linear-gradient(to bottom, #00aeff, #0e98d8);
    border: 1px solid #00aeff;
    box-shadow: 0 1px 20px #888;
    box-shadow: 0 1px 20px rgba(0, 0, 0, 0.4);
    color: white;
    padding: 6px 40px;
      -webkit-transition:   box-shadow 0.2s, background-color 0.2s, border-color 0.2s, color 0.2s;
    transition:   box-shadow 0.2s, background-color 0.2s, border-color 0.2s, color 0.2s;
   
 
  }
}
 
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: Roboto,"Helvetica Neue",Helvetica-,Arial,sans-serif;
    font-weight: 300;
    line-height: 1.45em;
   
}


.profileinput{margin: 0px auto;
    width: 60%;

      input{
        padding: 10px;
    font-size: 1.4em;
    letter-spacing: 0.08em;
    margin: 0px auto;
    width: 100%;
    text-align: center;
    color: #585858;
      }

  }



.bolinha1{
 width: 36px;
    height: 23px;
    position: absolute;
    background: url(../images/carrin.png);
    background-size: 72px 23px;
    background-position: left ;
  margin-left: 100px;
    -webkit-transition: margin 4.5s ease;
    transition:   margin 4.5s ease;
    animation: playdireita .9s steps(2) infinite;
    

}

@keyframes playdireita {
    100% { background-position: 72px 1px; }
}
@keyframes playcima {
    100% { background-position: left 76px; }
}
canvas {
    position:absolute;
    top:0;
    left:0
}
.bolinha2{
 width: 18px;
    height: 38px;
    position: absolute;
    background: url(../images/carrin2.png);
    background-size: 18px 76px;
    background-position: left 1px;
  margin-left: 113px;
    -webkit-transition: margin 4.5s ease;
    transition:   margin 4.5s ease;
    animation: playcima .9s steps(2) infinite;
   
   

}
.carrolado{
 width: 36px;
    height: 23px;
    position: absolute;
    background: url(../images/carrin.png);
    background-size: 72px 23px;
    background-position: left ; 
    animation: playdireita .9s steps(2) infinite;
    

}

.header{
    h3{ line-height: 0.9em}
   h5{ font-size: 16px; margin-bottom: 30px !important;}
}